@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Noto+Sans:ital,wght@0,200;1,200;1,400&family=Unbounded&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "noto Sans", sans-serif; }

.contenedor {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px auto 800px 200px;
  grid-template-areas: "header header header" "cuerpo cuerpo cuerpo" "aside aside aside" "footer footer footer"; }

.contenedor main .seccion-1 div, .contenedor main .seccion-1-p div {
  width: 300px;
  height: auto;
  box-shadow: 9px -4px 15px 15px rgba(212, 206, 206, 0.72);
  -webkit-box-shadow: 9px -4px 15px 15px rgba(212, 206, 206, 0.72);
  -moz-box-shadow: 9px -4px 15px 15px rgba(212, 206, 206, 0.72);
  transition: all 0.3s;
  display: grid;
  justify-self: center;
  align-self: center; }

.contenedor main .seccion-1 div a img, .contenedor main .seccion-1-p div img {
  width: 250px;
  height: 250px;
  display: grid;
  justify-self: center;
  align-self: center; }

.encabezado {
  width: 100%;
  height: 300px;
  background-image: url(../img/chispa.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  grid-area: header;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 200px;
  align-self: center;
  justify-content: center;
  padding: -20px; }
  .encabezado img {
    width: 300px;
    height: 250px; }
  .encabezado div {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: baseline;
    justify-items: end;
    align-content: stretch;
    justify-content: space-around; }
    .encabezado div nav {
      width: 40px;
      height: 40px;
      display: flex; }
      .encabezado div nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0; }
        .encabezado div nav ul li {
          float: left; }
          .encabezado div nav ul li:hover > ul {
            display: block; }
          .encabezado div nav ul li a {
            text-align: center;
            color: black;
            padding: 10px 15px;
            display: block;
            text-size-adjust: 15px;
            text-decoration: none;
            font-size: 15px;
            font-weight: 600; }
            .encabezado div nav ul li a:hover {
              background-color: #bbb7b7; }
            .encabezado div nav ul li a img {
              width: 40px;
              height: 40px; }
          .encabezado div nav ul li ul {
            display: none;
            position: absolute;
            min-width: 150px;
            width: 40px;
            height: 40px; }
            .encabezado div nav ul li ul li {
              position: relative; }
              .encabezado div nav ul li ul li:hover > li {
                float: inline-start; }

.contenedor main {
  width: 100%;
  height: auto;
  grid-area: cuerpo;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-items: center; }
  .contenedor main h2 {
    width: 100%;
    height: 100px;
    text-align: center;
    color: black;
    font-size: 40px;
    font-family: "noto Sans", sans-serif; }
  .contenedor main .seccion-1 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-self: center;
    justify-self: center;
    row-gap: 25px; }
    .contenedor main .seccion-1 div:hover {
      transform: scale(1.1); }
    .contenedor main .seccion-1 div a {
      text-decoration: none;
      display: grid;
      justify-self: center;
      align-self: center; }
  .contenedor main .seccion-2 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    align-items: center; }
    .contenedor main .seccion-2 .h2-seccion-2 {
      width: 100%;
      height: auto;
      display: grid;
      grid-column: span 2;
      grid-row: auto;
      font-size: 18px;
      text-align: center;
      font-style: italic;
      font-family: "noto Sans", sans-serif; }
      .contenedor main .seccion-2 .h2-seccion-2 h2 {
        width: 80%;
        height: 100px;
        text-align: center;
        color: black;
        font-size: 40px;
        display: grid;
        grid-column: span 2;
        grid-row: 25px;
        justify-self: center;
        align-content: center; }
    .contenedor main .seccion-2 .titulo {
      width: 100%;
      height: 60px;
      text-align: justify;
      color: black;
      font-size: 40px;
      display: grid;
      grid-column: span 2;
      grid-row: auto;
      align-content: center;
      justify-self: center;
      font-style: italic;
      font-family: "noto Sans", sans-serif; }
    .contenedor main .seccion-2 p {
      width: 100%;
      height: auto;
      font-size: 18px;
      font-style: italic;
      text-align: justify;
      font-family: "noto Sans", sans-serif; }
  .contenedor main .div1 {
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    align-self: center; }
    .contenedor main .div1 p {
      width: 100%;
      height: auto;
      font-size: 18px;
      font-style: italic;
      text-align: justify;
      font-family: "noto Sans", sans-serif; }
  .contenedor main .seccion-1-p {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-self: center;
    justify-self: center;
    row-gap: 25px; }
    .contenedor main .seccion-1-p div:hover {
      transform: scale(1.1); }
  .contenedor main p {
    width: 100%;
    height: auto;
    font-size: 18px;
    font-style: italic;
    text-align: justify;
    font-family: "noto Sans", sans-serif; }
  .contenedor main .registro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; }
    .contenedor main .registro .form {
      background-color: white;
      width: 400px;
      border-radius: 8px;
      padding: 20px 40px;
      box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2); }
      .contenedor main .registro .form .title {
        font-size: 50px;
        margin-bottom: 50px; }
      .contenedor main .registro .form .divinput {
        position: relative;
        height: 45px;
        width: 90%;
        margin-bottom: 17px; }
        .contenedor main .registro .form .divinput .input {
          position: absolute;
          top: 0px;
          left: 0px;
          height: 100%;
          width: 100%;
          border: 1px solid #f7c5c5;
          border-radius: 7px;
          font-size: 16px;
          padding: 0 20px;
          outline: none;
          background: none;
          z-index: 1; }
          .contenedor main .registro .form .divinput .input::placeholder {
            color: transparent; }
        .contenedor main .registro .form .divinput .etiqueta {
          position: absolute;
          top: 15px;
          left: 15px;
          padding: 0 4px;
          background-color: white;
          color: #c4c5c7;
          font-size: 16px;
          transition: 0.5s;
          z-index: 0; }
        .contenedor main .registro .form .divinput .boton {
          display: block;
          margin-left: auto;
          padding: 15px 30px;
          border: none;
          background-color: rgba(243, 18, 10, 0.918);
          color: white;
          border-radius: 6px;
          cursor: pointer;
          font-size: 16px;
          margin-top: 30px; }
          .contenedor main .registro .form .divinput .botonhoover {
            background-color: #f76969;
            transform: translateY(-2px); }

.contenedor .clientes {
  width: 100%;
  height: 600px;
  grid-area: cuerpo;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }

.contenedor .nosotros {
  width: 90%;
  height: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 20px; }

aside {
  width: 100%;
  height: auto;
  grid-area: aside;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  margin: auto; }
  aside .slider-frame {
    width: 100%;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    grid-column: 100%;
    display: grid;
    align-self: center;
    justify-self: center; }
    aside .slider-frame ul {
      display: flex;
      padding: 0;
      width: 100%;
      animation: slide 20s infinite alternate ease-in-out; }

@keyframes slide {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  45% {
    margin-left: -50%; }
  65% {
    margin-left: -50%; }
  85% {
    margin-left: 0%; }
  100% {
    margin-left: 0%; } }
      aside .slider-frame ul li {
        width: 200%;
        list-style: none; }
        aside .slider-frame ul li img {
          width: 680px;
          height: 380px; }

.pie {
  width: 100%;
  height: 150px;
  background-color: red;
  grid-area: footer;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 150px; }
  .pie .redes {
    width: 100%;
    height: 150px;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    gap: 15px;
    padding: 10px; }
    .pie .redes a {
      text-decoration: none;
      color: black;
      font-size: 10px;
      text-align: center; }
      .pie .redes a img {
        width: 30px;
        height: 30px;
        transition: all 0.3s; }
        .pie .redes a img:hover {
          transform: scale(1.1); }
  .pie .mapa {
    width: 100%;
    height: 150px;
    grid-column: 2; }

@media screen and (max-width: 1000px) {
  .contenedor {
    width: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px auto 600px 150px;
    grid-template-areas: "header header " "cuerpo cuerpo " "aside aside " "footer footer "; } }

@media screen and (max-width: 750px) {
  .contenedor {
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto 600px 150px;
    grid-template-areas: "header  " "cuerpo " "aside " "footer"; } }

@media screen and (max-width: 1000px) {
  .contenedor header {
    max-width: 1000px;
    height: 200px;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 225px;
    display: grid;
    align-self: center;
    justify-content: center;
    row-gap: 100px; } }

@media screen and (max-width: 750px) {
  .contenedor header {
    max-width: 750px;
    height: 150px;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 150px;
    display: grid;
    align-self: center;
    justify-content: center; } }

@media screen and (max-width: 1000px) {
  .contenedor header img {
    width: 200px;
    height: 150px; } }

@media screen and (max-width: 750px) {
  .contenedor header img {
    width: 150px;
    height: 120px; } }

@media screen and (max-width: 750px) {
  .contenedor header div {
    display: grid;
    align-items: center;
    justify-items: start;
    align-content: space-between;
    justify-content: space-between; } }

@media screen and (max-width: 420px) {
  .contenedor header div nav ul li a {
    text-size-adjust: 8px;
    padding: 5px 10px; } }

@media screen and (max-width: 750px) {
  .contenedor header div nav a img {
    width: 40px;
    height: 40px; } }

@media screen and (max-width: 420px) {
  .contenedor header div nav a img {
    width: 30px;
    height: 30px; } }

@media screen and (max-width: 1000px) {
  .contenedor main h2 {
    font-size: 20px;
    height: 75px; } }

@media screen and (max-width: 1000px) {
  .contenedor main .seccion-1 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto; } }

@media screen and (max-width: 750px) {
  .contenedor main .seccion-1 {
    display: grid;
    grid-template-columns: repeat(2.5%);
    grid-template-rows: auto;
    align-self: center;
    justify-self: center; } }

@media screen and (max-width: 420px) {
  .contenedor main .seccion-1 {
    display: grid;
    grid-template-columns: 1fr; } }

@media screen and (max-width: 750px) {
  .contenedor main .seccion-1 div {
    width: 200px;
    height: 200px; } }

@media screen and (max-width: 750px) {
  .contenedor main .seccion-1 div a img {
    width: 180px;
    height: 180px; } }

@media screen and (max-width: 1000px) {
  .contenedor main .seccion-2 .div1 img {
    width: 250px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-self: center;
    justify-content: center; } }

@media screen and (max-width: 1000px) {
  .contenedor main .seccion-2 .div1 img {
    width: 250px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-self: center;
    justify-content: center; } }

@media screen and (max-width: 750px) {
  .contenedor main .seccion-2 .div1 img {
    width: 150px; } }

@media screen and (max-width: 1000px) {
  .contenedor main .seccion-2 .titulo {
    text-align: center;
    color: black;
    font-size: 25px; } }

@media screen and (max-width: 750px) {
  .contenedor main .seccion-2 .titulo {
    text-align: center;
    color: black;
    font-size: 15px; } }

@media screen and (max-width: 750px) {
  .contenedor main .seccion-2 .h2-seccion-2 p {
    font-size: 12px; } }

@media screen and (max-width: 750px) {
  .contenedor main .seccion-2 .h2-seccion-2 .titulo {
    font-size: 15px; } }

@media screen and (max-width: 750px) {
  .contenedor main .seccion-2 .div1 .titulo {
    width: 50%;
    height: auto;
    font-size: 15px;
    align-content: center;
    justify-self: center; } }

@media screen and (max-width: 750px) {
  .contenedor main .div1 p {
    font-size: 12px; } }

@media screen and (max-width: 1000px) {
  .contenedor main .nosotros p {
    font-size: 15px; } }

@media screen and (max-width: 750px) {
  .contenedor main .nosotros p {
    font-size: 12px; } }

@media screen and (max-width: 1000px) {
  .contenedor aside .slider-frame ul li img {
    width: 500px;
    height: 280px; } }

@media screen and (max-width: 750px) {
  .contenedor aside .slider-frame ul li img {
    width: 365px;
    height: 190px; } }

@media screen and (max-width: 420px) {
  .contenedor aside .slider-frame ul li img {
    width: 200px;
    height: 110px; } }

@media screen and (max-width: 750px) {
  .contenedor .pie .redes a img {
    width: 20px;
    height: 20px; } }

@media screen and (max-width: 1000px) {
  .contenedor main .seccion-1-p {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto; } }

@media screen and (max-width: 750px) {
  .contenedor main .seccion-1-p {
    display: grid;
    grid-template-columns: repeat(2.5%);
    grid-template-rows: auto;
    align-self: center;
    justify-self: center; } }

@media screen and (max-width: 420px) {
  .contenedor main .seccion-1-p {
    display: grid;
    grid-template-columns: 1fr; } }

@media screen and (max-width: 750px) {
  .contenedor main .seccion-1-p div {
    width: 200px;
    height: 200px; } }

@media screen and (max-width: 750px) {
  .contenedor main .seccion-1-p div img {
    width: 180px;
    height: 180px; } }
