@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Noto+Sans:ital,wght@0,200;1,200;1,400&family=Unbounded&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "noto Sans", sans-serif;
}

/**************Contenedor padre*******************/
.contenedor {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px auto 800px 200px;
    grid-template-areas:


        "header header header"
        "cuerpo cuerpo cuerpo"
        "aside aside aside"
        "footer footer footer";

}

@media screen and (max-width: 1000px) {
    .contenedor {
        width: auto;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 200px auto 600px 150px;
        grid-template-areas:

            "header header "
            "cuerpo cuerpo "
            "aside aside "
            "footer footer ";
    }
}

@media screen and (max-width: 750px) {
    .contenedor {
        width: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px auto 600px 150px;
        grid-template-areas:

            "header  "
            "cuerpo "
            "aside "
            "footer";
    }
}




/**********************Header**************************/

.encabezado {
    width: 100%;
    height: 300px;
    background-image: url(../img/chispa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    grid-area: header;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 300px;
    align-self: center;
    justify-content: center;
    row-gap: 20px;

}

.encabezado img {
    width: 250px;
    height: 200px;
    display: grid;
    align-self: center;
    justify-content: center;


}

@media screen and (max-width: 1000px) {
    .encabezado {
        max-width: 1000px;
        height: 200px;
        grid-area: header;
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 200px;
        display: grid;
        align-self: center;
        justify-content: center;

    }
}

@media screen and (max-width: 1000px) {
    .encabezado img {
        width: 200px;
        height: 150px;
        /* display: grid;
        align-self: center;
        justify-content: center; */

    }
}

@media screen and (max-width: 750px) {
    .encabezado {
        max-width: 750px;
        height: 150px;
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 150px;
        display: grid;
        align-self: center;
        justify-content: center;
    }
}

@media screen and (max-width: 750px) {
    .encabezado img {
        width: 150px;
        height: 120px;

    }
}

/************************Barra de navegacion********************/

.div-nav {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: baseline;
    justify-items: end;
    align-content: space-around;
    justify-content: space-evenly;

}

@media screen and (max-width:750px) {
    .div-nav {
        display: grid;
        align-items: center;
        justify-items: start;
        align-content: space-between;
        justify-content: space-between;
    }

}

.nav {
    width: 40px;
    height: 40px;
    display: flex;

}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.nav ul>li {
    float: left;
}

.nav li:hover>ul {
    display: block;
}

.nav ul li a:hover {
    background-color: rgb(187, 183, 183)
}

.nav ul li a {
    text-align: center;
    color: black;
    padding: 10px 15px;
    display: block;
    text-size-adjust: 15px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;


}

@media screen and (max-width:420px) {
    .nav ul li a {
        text-size-adjust: 8px;
        padding: 5px 10px;


    }

}

.menu {
    width: 40px;
    height: 40px;

}


.sub-menu {
    display: none;
    position: absolute;
    min-width: 150px;
    width: 50px;
    height: 50px;
}

.sub-menu li ul:hover>li {
    float: inline-start;
}

.sub-menu li ul li {
    position: relative;
}

.sub-menu li ul li {
    right: -140px;
    top: 0px;
}

.nav a img {
    width: 50px;
    height: 50px;
}

@media screen and (max-width:750px) {
    .nav a img {
        width: 40px;
        height: 40px;
    }
}


@media screen and (max-width:420px) {
    .nav a img {
        width: 30px;
        height: 30px;
    }
}

/****************Cuerpo******************/
.cuerpo {
    width: 100%;
    height: auto;
    grid-area: cuerpo;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    margin: 0%;


}

.cuerpo h2 {
    width: 100%;
    height: 100px;
    text-align: center;
    color: black;
    font-size: 40px;
    font-family: "noto Sans", sans-serif;

}

.seccion-1 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-self: center;
    justify-self: center;
    row-gap: 25px;

}

@media screen and (max-width: 1000px) {
    .seccion-1 {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: auto;

    }
}


@media screen and (max-width: 750px) {
    .seccion-1 {
        display: grid;
        grid-template-columns: repeat(2.50%);
        grid-template-rows: auto;
        align-self: center;
        justify-self: center;
    }
}


.seccion-1 div {
    width: 300px;
    height: auto;
    box-shadow: 9px -4px 15px 15px rgba(212, 206, 206, 0.72);
    -webkit-box-shadow: 9px -4px 15px 15px rgba(212, 206, 206, 0.72);
    -moz-box-shadow: 9px -4px 15px 15px rgba(212, 206, 206, 0.72);
    transition: all 0.3s;
    display: grid;
    justify-self: center;
    align-self: center;

}

.seccion-1 div:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 750px) {
    .seccion-1 div {
        width: 200px;
        height: 200px;
    }
}

.seccion-1 div img {
    width: 250px;
    height: 250px;
    display: grid;
    justify-self: center;
    align-self: center;
    /* margin: 15px;
    padding: 15px; */

}

@media screen and (max-width:750px) {
    .seccion-1 div img {
        width: 180px;
        height: 180px;
    }

}

.seccion-1 div a {
    text-decoration: none;
    display: grid;
    justify-self: center;
    align-self: center;

}

/*********** Seccion 2************************/
.seccion-2 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    align-items: center;


}

@media screen and (max-width:1000px) {
    .div1 img {
        width: 250px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-self: center;
        justify-content: center;
    }
}

@media screen and (max-width:750px) {
    .div1 img {
        width: 150px;

    }
}

.h2-seccion-2 {
    width: 100%;
    height: auto;
    display: grid;
    grid-column: span 2;
    grid-row: auto;
    font-size: 18px;
    text-align: center;
    font-style: italic;
    font-family: "noto Sans", sans-serif;

}

.h2-seccion-2 h2 {
    width: 80%;
    height: 100px;
    text-align: center;
    color: black;
    font-size: 40px;
    display: grid;
    grid-column: span 2;
    grid-row: 25px;
    justify-self: center;
    align-content: center;
}

@media screen and (max-width: 1000px) {
    .cuerpo h2 {
        text-align: center;
        color: black;
        font-size: 25px;
    }
}

@media screen and (max-width: 750px) {
    .cuerpo h2 {
        text-align: center;
        color: black;
        font-size: 15px;
    }
}

.h2-seccion-2 p {
    width: 100%;
    height: auto;
    font-size: 18px;
    font-style: italic;
    text-align: justify;
    font-family: "noto Sans", sans-serif;
}

@media screen and (max-width:750px) {
    .h2-seccion-2 p {
        font-size: 12px;
    }

}

.titulo {
    width: 100%;
    height: 60px;
    text-align: justify;
    color: black;
    font-size: 40px;
    display: grid;
    grid-column: span 2;
    grid-row: auto;
    align-content: center;
    justify-self: center;
    font-style: italic;
    font-family: "noto Sans", sans-serif;

}

@media screen and (max-width:750px) {
    .div h2 {
        width: 50%;
        height: auto;
        font-size: 20px;
        align-content: center;
        justify-self: center;
    }

}

.div1 {
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    align-self: center;


}

.div1 p {
    width: 100%;
    height: auto;
    font-size: 18px;
    font-style: italic;
    text-align: justify;
    font-family: "noto Sans", sans-serif;

}

@media screen and (max-width:750px) {
    .div1 p {
        font-size: 12px;
    }

}

/**************************************aside*****************************************/

.aside {
    width: 100%;
    height: auto;
    grid-area: aside;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin: auto;

}

.slider-frame {
    width: 100%;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    grid-column: 100%;
    display: grid;
    align-self: center;
    justify-self: center;
    ;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 100%;

    animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
    width: 200%;
    list-style: none;

}

.slider-frame img {

    width: 680px;
    height: 380px;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    45% {
        margin-left: -50%;
    }

    65% {
        margin-left: -50%;
    }

    85% {
        margin-left: 0%;
    }

    100% {
        margin-left: 0%;
    }


}


.slider-frame {
    width: 100%;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    grid-column: 100%;
    display: grid;
    align-self: center;
    justify-self: center;
    ;
}


@media screen and (max-width: 1000px) {

    .slider-frame img {
        width: 500px;
        height: 280px;
    }
}


@media screen and (max-width: 750px) {

    .slider-frame img {
        width: 365px;
        height: 190px;
    }
}


@media screen and (max-width: 420px) {

    .slider-frame img {
        width: 200px;
        height: 110px;
    }
}



/*******************FOOTER**********************************/
.pie {
    width: 100%;
    height: 150px;
    background-color: red;
    grid-area: footer;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 150px;
}

.mapa {
    width: 100%;
    height: 150px;
    grid-column: 2;

}

.redes {
    width: 100%;
    height: 150px;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    gap: 15px;
    padding: 10px;
}

.redes a {
    text-decoration: none;
    color: black;
    font-size: 10px;
    text-align: center;
}

.redes a img {
    width: 30px;
    height: 30px;
    transition: all 0.3s;

}

.redes img:hover {
    transform: scale(1.1);
}

@media screen and (max-width:750px) {
    .redes a img {
        width: 30px;
        height: 30px;
    }
}


/****************************************************PRODUSTOS*************************************/


.seccion-1-p {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;


}

.seccion-1-p div {
    width: 5%;
    height: auto;
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    grid-column-start: inherit;
    margin: -15px;
    padding: -15px;
}

/****************************************************NOSOTROS******************************/
.cuerpo p {
    width: 100%;
    height: auto;
    font-size: 18px;
    font-style: italic;
    text-align: justify;
    font-family: "noto Sans", sans-serif;
}

.registro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.title {
    font-size: 50px;
    margin-bottom: 50px;
}

.divinput {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
}

.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #f7c5c5;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}


::placeholder {
    color: transparent;
}

.etiqueta {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #c4c5c7;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}

.boton {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: rgba(243, 18, 10, 0.918);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.boton:hover {
    background-color: #f76969;
    transform: translateY(-2px);
}

/*************************CLIENTES****************************************************/
.clientes {
    display: flex;
    width: 100%;
    height: 1000px;
    align-items: center;
    justify-content: center;
    
}

.clientes div {
    display: flex;
    width: 100%;
    height: 75%;
}

.clientes div img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: 1s ease;
}

.clientes div img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}