aside{
    width: 100%;
    height: auto;
    grid-area: aside;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin: auto;

    .slider-frame{
        width: 100%;
        height: auto;
        margin: 50px auto 0;
        overflow: hidden;
        grid-column: 100%;
        display: grid;
        align-self: center;
        justify-self: center;
        
        ul{
            display: flex;
            padding: 0;
            width: 100%;
            animation: slide 20s infinite alternate ease-in-out;
            @keyframes slide {
                0% {
                    margin-left: 0;
                }
            
                20% {
                    margin-left: 0;
                }
            
                45% {
                    margin-left: -50%;
                }
            
                65% {
                    margin-left: -50%;
                }
            
                85% {
                    margin-left: 0%;
                }
            
                100% {
                    margin-left: 0%;
                }
            
            
            }
            
            li{
                width: 200%;
                list-style: none;
            
                img{
                    width: 680px;
                    height: 380px;
                

                }
            }
        }
    }
}