.encabezado {
    width: 100%;
    height: 300px;
    background-image: url(../img/chispa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    grid-area: header;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 200px;
    align-self: center;
    justify-content: center;
    padding:-20px;
    

    img {
        width: 300px;
        height: 250px;
    }

    div {
        width: 100%;
        height: 100%;
        display: grid;
        align-items: baseline;
        justify-items: end;
        align-content: stretch;
        justify-content: space-around;
        

        nav {
            width: nth($tamano, 1 );
            height: nth($tamano, 1);
            display: flex;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    float: left;

                    &:hover>ul {
                        display: block;
                    }

                    a {
                        text-align: center;
                        color: nth($color, 1 );
                        padding: 10px 15px;
                        display: block;
                        text-size-adjust: 15px;
                        text-decoration: none;
                        font-size: 15px;
                        font-weight: 600;

                        &:hover {
                            background-color: nth($color , 5 )
                        }

                        img {
                            width: nth($tamano, 1 );
                            height: nth($tamano, 1 );

                        }
                    }

                    ul {
                        display: none;
                        position: absolute;
                        min-width: 150px;
                        width: nth($tamano, 2/2 );
                        height: nth($tamano, 2/2 );
                        li {
                            position: relative;
                            &:hover>li{
                                float: inline-start;
                            }
                            a {

                            }
                        }
                    }
                }
            }
        }
    }
}
