.contenedor {
    main {
        width: 100%;
        height: auto;
        grid-area: cuerpo;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        justify-items: center;
        

        h2 {
            width: 100%;
            height: 100px;
            text-align: center;
            color: black;
            font-size: nth($tamano, 1 );
            font-family: "noto Sans", sans-serif;


        }

        .seccion-1 {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            align-self: center;
            justify-self: center;
            row-gap: 25px;

            div {
                @extend %tarjetas;

                &:hover {
                    transform: scale(1.1);

                }

                a {
                    text-decoration: none;
                    display: grid;
                    justify-self: center;
                    align-self: center;

                    img {
                        @extend %img-tar
                    }

                }
            }

        }


        .seccion-2 {
            width: 100%;
            height: nth($tamano, 4 );
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            align-items: center;

            .h2-seccion-2 {
                width: 100%;
                height: nth($tamano, 4 );
                display: grid;
                grid-column: span 2;
                grid-row: auto;
                font-size: 18px;
                text-align: center;
                font-style: italic;
                font-family: "noto Sans", sans-serif;

                h2 {
                    width: 80%;
                    height: nth($tamano, 2);
                    text-align: center;
                    color: nth($color, 1 );
                    font-size: nth($tamano, 1 );
                    display: grid;
                    grid-column: span 2;
                    grid-row: nth($tamano, 5 );
                    justify-self: center;
                    align-content: center;

                }
            }

            .titulo {
                width: 100%;
                height: 60px;
                text-align: justify;
                color: nth($color, 1 );
                font-size: nth($tamano, 1 );
                display: grid;
                grid-column: span 2;
                grid-row: auto;
                align-content: center;
                justify-self: center;
                font-style: italic;
                font-family: "noto Sans", sans-serif;

            }

            p {
                width: 100%;
                height: nth($tamano, 4 );
                font-size: 18px;
                font-style: italic;
                text-align: justify;
                font-family: "noto Sans", sans-serif;

            }

        }

        .div1 {
            width: 100%;
            height: nth($tamano, 4 );
            display: grid;
            justify-content: center;
            align-self: center;

            p {
                width: 100%;
                height: nth($tamano, 4 );
                font-size: 18px;
                font-style: italic;
                text-align: justify;
                font-family: "noto Sans", sans-serif;

            }
        }

        .seccion-1-p {
            width: 100%;
            height: nth($tamano, 4 );
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            align-self: center;
            justify-self: center;
            row-gap: nth($tamano, 5 );

            div {
                @extend %tarjetas;

                &:hover {
                    transform: scale(1.1);
                }

                img {
                    @extend %img-tar
                }
            }
        }

        p {
            width: 100%;
            height: nth($tamano, 4 );
            font-size: 18px;
            font-style: italic;
            text-align: justify;
            font-family: "noto Sans", sans-serif;

        }

        .registro {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;

            .form {
                background-color: white;
                width: 400px;
                border-radius: 8px;
                padding: 20px 40px;
                box-shadow: 0 10px 25px rgba(92, 99, 105, .2);

                .title {
                    font-size: 50px;
                    margin-bottom: 50px;

                }

                .divinput {
                    position: relative;
                    height: 45px;
                    width: 90%;
                    margin-bottom: 17px;

                    .input {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        height: 100%;
                        width: 100%;
                        border: 1px solid nth($color, 3 );
                        border-radius: 7px;
                        font-size: 16px;
                        padding: 0 20px;
                        outline: none;
                        background: none;
                        z-index: 1;

                        &::placeholder {
                            color: transparent;
                        }

                    }

                    .etiqueta {
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        padding: 0 4px;
                        background-color: white;
                        color: #c4c5c7;
                        font-size: 16px;
                        transition: 0.5s;
                        z-index: 0;

                    }

                    .boton {
                        display: block;
                        margin-left: auto;
                        padding: 15px 30px;
                        border: none;
                        background-color: rgba(243, 18, 10, 0.918);
                        color: white;
                        border-radius: 6px;
                        cursor: pointer;
                        font-size: 16px;
                        margin-top: 30px;

                        &hoover {
                            background-color: #f76969;
                            transform: translateY(-2px);

                        }
                    }
                }
            }
        }
    }

    .clientes {

        width: 100%;
        height: 600px;
        grid-area: cuerpo;
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        
        
    }
    .nosotros{
        width: 90%;
        height: auto;
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        padding: 20px;

    }
}