%tarjetas{
width: 300px;
height: auto;
box-shadow: 9px -4px 15px 15px rgba(212, 206, 206, 0.72);
-webkit-box-shadow: 9px -4px 15px 15px rgba(212, 206, 206, 0.72);
-moz-box-shadow: 9px -4px 15px 15px rgba(212, 206, 206, 0.72);
transition: all 0.3s;
display: grid;
justify-self: center;
align-self: center; 
}

%img-tar{
    width: 250px;
    height: 250px;
    display: grid;
    justify-self: center;
    align-self: center;
}

$color:
black,
red,
#f7c5c5,
#c4c5c7,
rgb(187, 183, 183),
white;

$tamano:
40px,
100px,
200px,
auto,
25px;